= form_for @application_setting, url: ci_cd_admin_application_settings_path(anchor: 'js-registry-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :container_registry_token_expire_delay, 'Authorization token duration (minutes)', class: 'label-bold'
      = f.number_field :container_registry_token_expire_delay, class: 'form-control gl-form-input'
    .form-group
      .form-check
        = f.check_box :container_expiration_policies_enable_historic_entries, class: 'form-check-input'
        = f.label :container_expiration_policies_enable_historic_entries, class: 'form-check-label' do
          = _("Enable container expiration and retention policies for projects created earlier than GitLab 12.7.")
          = link_to sprite_icon('question-o'), help_page_path('user/packages/container_registry/index', anchor: 'cleanup-policy')
        .form-text.text-muted
          = _("Existing projects will be able to use expiration policies. Avoid enabling this if an external Container Registry is being used, as there is a performance risk if many images exist on one project.")
          = link_to sprite_icon('question-o'), help_page_path('user/packages/container_registry/index', anchor: 'use-with-external-container-registries')
    - if limit_delete_tags_service?
      .form-group
        = f.label :container_registry_delete_tags_service_timeout, _('Cleanup policy maximum processing time (seconds)'), class: 'label-bold'
        = f.number_field :container_registry_delete_tags_service_timeout, min: 0, class: 'form-control gl-form-input'
        .form-text.text-muted
          = _("Tags are deleted until the timeout is reached. Any remaining tags are included the next time the policy runs. To remove the time limit, set it to 0.")

  = f.submit 'Save changes', class: "gl-button btn btn-success"
